$namespace: "user-navbar";
$user-navbar-width: 3rem;
.#{$namespace} {
  min-height: calc(100vh - #{$navbar-height});
  height: 100%;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: $navbar-height;
  left: 0;
  overflow-y: auto;
  background-color: $purple;
  width: $user-navbar-width;
  &.horizontal-layout{
    position: absolute;
    flex-direction: row;
    top: unset;
    bottom: 0;
    left: 0;
    z-index: 10;
    min-height: auto;
    width: 100%;
    height: $user-navbar-width;
  }
}
.#{$namespace}-btn {
  position: sticky;
  color: white;
  height: $user-navbar-width;
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  &.active {
    background-color: $orange;
  }
}
