$namespace: "settings-billing-pg";
.#{$namespace}-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5%;
  h3 {
    font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: $light-black;
    margin: 0 2%;
    margin-bottom: 1rem;
    width: 100%;
  }
  button {
    @include remove-btn-default;
    cursor: pointer;
  }
}
.#{$namespace}-subscription-img {
  max-width: 4rem;
}
.#{$namespace}-subscription {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 2%;
  margin-bottom: 1rem;
}
.#{$namespace}-subscription-description {
  font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.95rem;
  font-weight: 600;
  color: black;
  margin-left: 0.5rem;
  margin-right: 1rem;
}
.#{$namespace}-upgrade-now-btn {
  color: $blue;
  font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 1.05rem;
  margin: 1rem 0;
}
.#{$namespace}-linked-cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 2%;
}
.#{$namespace}-billing-card {
  display: flex;
  border: 1px solid $light-gray;
  border-top: none;
  background: $white;
  justify-content: space-between;
  &:first-child {
    border-top: 1px solid $light-gray;
    border-radius: 0.4rem 0.4rem 0 0;
  }
  &:last-child {
    border-radius: 0 0 0.4rem 0.4rem;
  }
}
.#{$namespace}-billing-card-select-btn {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 1.8rem 1.4rem;
  color: $light-black;
  font-weight: 500;
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.#{$namespace}-billing-card-radio-btn {
  height: 1.3rem;
  width: 1.3rem;
  .radio-btn-outer-circle {
    stroke: $orange;
  }
  .radio-btn-inner-circle {
    fill: none;
    &.active {
      fill: $orange;
    }
  }
}
.#{$namespace}-billing-card-img {
  margin: 0 1rem;
  max-width: 2.5rem;
  @include img-fill;
}
.#{$namespace}-billing-card-remove-btn {
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  color: $red;
  font-weight: 600;
  font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
button.#{$namespace}-add-card-btn {
  margin-top: 2rem;
  height: 2.2rem;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.4rem;
  align-self: end;
  width: auto;
  background-color: $blue;
  color: $white;
  font-weight: 400;
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  span {
    font-size: 1rem;
    margin-left: 0.4rem;
  }
}
