@import "./variables";
@import "../src/utilities/utilities";
@import "../src/settingsPage/settings";
@import "./mediaQueries";
body,
html {
  margin: 0;
  padding: 0;
}
#general-app-container {
  display: flex;
  width: 100%;
  margin-top: 3rem;
}
