@mixin settings-account-sm {
  $namespace: "settings-pg-account";
  .#{$namespace}-form {
    flex-direction: column;
    justify-content: start;
    flex-wrap: unset;
    .form-inputs-container {
      margin: 0%;
      padding: 0 2%;
      margin-bottom: 1.5em;
      width: auto;
    }
  }
  .#{$namespace}-form-title {
    width: auto;
    display: flex;
    margin: 0;
    padding: 2%;
    margin-bottom: 1rem;
  }
  .#{$namespace}-form-submit-btns {
    width: auto;
    justify-content: center;
  }
}
