@import "./accountPage/accountBreakpoints";
@import "./integrationsPage/integrationsBreakpoints";
@mixin settings-pg-md {
  $namespace: "settings-pg";
  .#{$namespace}-setting-item {
    justify-content: center;
    h4 {
      margin-bottom: 0.5rem;
    }
  }
  @include settings-integrations-md;
}
@mixin settings-pg-sm {
  $namespace: "settings-pg";
  .#{$namespace}-setting-item-row-icon {
    margin-right: 0;
  }
  .#{$namespace}-setting-item {
    justify-content: center;
    h4 {
      margin-bottom: 0.75rem;
    }
  }
  .#{$namespace}-sidebar {
    height: calc(100vh - #{$navbar-height} * 2);
  }
  @include settings-account-sm;
  @include settings-integrations-sm;
}
